{# Call the header function to create the standard PA header #}
{{ header("PA Archive :: Members :: " ~ member.fullName) }}

    <div class="well well-pa">
        <div class="topleft-indicator">PA Member</div>
        <h1>{{ member.fullName }}</h1>
    </div>

    {% include "includes/messages.twig" %}

    <div class="well well-pa">
        {% if potentualMatch %}
            <p class="lead">If this is you, please email the Web Officer (<a href="mailto:web@susuperformingarts.org">web@susuperformingarts.org</a>) to link the profiles.</p>
        {% endif %}



        <div class="archive-block member-block member-societies">
            <h2>Society Membership</h2>
            {% if societies|length > 0 %}
                <p>{{ member.preferredName }} has been a member of {{ societies|length }} {% if societies|length > 1 %}societies{% else %}society{% endif %} from {{ years.min }} to {{ years.max }}:</p>
                <ul>
                    {% for soc in societies %}
                        <li><a href="{{ urlFor("society", { "society" : soc.slug }) }}">{{ soc.name }}</a> ({{ soc.years|join(", ") }})</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ member.preferredName }} has not been a member of any Performing Arts societies.</p>
            {% endif %}
        </div>

        <div class="archive-block member-block member-committees">
            <h2>Committee Positions</h2>
            {% if committees|length > 0 %}
                <p>{{ member.preferredName }} has held positions on {{ committees|length }} {% if committees|length > 1 %}committees{% else %}committee{% endif %}:</p>
                <ul>
                    {% for comm in committees %}
                        <li>{{ comm.committeePosition }} for <a href="{{ urlFor("society", { "society" : comm.slug }) }}">{{ comm.name }}</a> in {{ comm.year }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ member.preferredName }} has not held any committee positions.</p>
            {% endif %}
        </div>


        <div class="archive-block member-block member-shows">
            <h2>Shows</h2>
            {% if allShows|length > 0 %}
                <p>{{ member.preferredName }} has been a part of {{ allShows|length }} {% if allShows|length > 1 %}shows{% else %}show{% endif %} in the Performing Arts:</p>

                <ul style="list-style: none;">
                {% for soc, shows in allShows %}
                    <li>
                        <h3 class="h4">With {{ soc }}</h3>
                        <ul>
                            {% for show in shows %}
                                <li>{{ show.roleName }}{% if show.notes %}, <em>{{ show.notes }}</em>{% endif %} in <a href="{{ getShowUrl({ "slug" : show.slug, "society" : show.societySlug, "year" : show.academicYear }) }}">{{ show.showName }}</a> ({{ show.year }})</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>

            {% else %}
                <p>{{ member.preferredName }} has not taken part in any recorded Performing Arts shows.</p>
            {% endif %}
        </div>


        {# Keeps the floating images bounded by the parent box #}
        <div class="clearfix"></div>
    </div>
{# Standard PA footer #}
{{ footer() }}
