{# Call the header function to create the standard PA header #}
{{ header("PA Archive :: Shows :: Delete") }}
{{ fancySubHeader(0, "Delete Show", show.name)}}

	{% include "includes/messages.twig" %}

	<div class="row" style="min-height: 400px">
		<div class="col-md-12">
			<div class="well well-pa">
				<p class="lead">Are you sure you want to delete {{ show.name }}?<br>This cannot be undone</p>
				<form action="" method="post">
					<input type="hidden" name="confirm" value="true">
				    <input type="hidden" name="_METHOD" value="DELETE">
				    <button type="submit" class="btn btn-danger show_submit">Confirm</button>
				    <a href="{{ getShowUrl({ "id" : show.id, "no_resolve" : true }) }}" class="btn btn-primary">Cancel</a>
				</form>
			</div>
		</div>
	</div>


{# Standard PA footer #}
{{ footer() }}
