{# Call the header function to create the standard PA header #}
{{ header("PA Archive :: Society :: " ~ society.name ~ " :: " ~ year) }}

{% set susuPrefix = "https://www.susu.org/groups/" %}
{% set isStagesoc = (society.id == 25) %}

    <div class="well well-pa">
        <div class="topleft-indicator">{{ society.societyType }} society</div>
        <h1>{% if society.logo %}<img src="{{ society.logo }}" alt="{{ society.name }}" style="max-height: 40px;">{% endif %} {{ society.name }}</h1>
        {% if society.subtitle %}<p>{{ society.subtitle }}</p>{% endif %}
    </div>

    {% include "includes/messages.twig" %}

    <div class="well well-pa">

        <h2>{{ society.name }} in {{ year }} - {{ year + 1 }}</h2>
        <div class="row">
            <div class="col-sm-6">


                <div class="archive-block society-block society-block-pastShows">
                {% if pastShows|length > 0 and year %}
                        <h3>Shows</h3>
                        <ul>
                            {% for show in pastShows %}
                                <li>
                                    <a href="{{ getShowUrl({ "slug" : show.slug, "society" : show.societySlug, "year" : (show.academicYear ? show.academicYear : false) }) }}">{{ show.name }}</a>
                                     {% if show.firstShowDate %}
                                            ({{ show.firstShowDate|date(dateformatShort) }}{% if show.firstShowDate|date("Ymd") != show.lastShowDate|date("Ymd") %} - {{ show.lastShowDate|date(dateformatShort) }}{% endif %})
                                     {% endif %}
                                     {% if isStagesoc and show.societyId != 25 %}(with <a href="{{ urlFor("society", { "society" : show.societySlug }) }}">{{ show.societyName }}</a>){% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% if isStagesoc %}<p class="small">StageSoc provide the techincal support to other society's shows, those shows are also shown here.</p>{% endif %}
                {% else %}
                    <p style="margin-top: 20px;">{{ society.name }} was not involved in any recorded shows</p>
                {% endif %}
            </div>

            </div>


            <div class="col-sm-6">

                {% if members|length > 0 %}
                    <div class="archive-block society-block society-block-members">
                        <h3>Members</h3>
                        <ul>
                            {% for member in members %}
                                {% set mid = (member.memberId)?member.memberId:member.suggestedMemberId %}
                                {% set pathName = (member.memberId)?"member":"suggested_member" %}
                                <li><a href="{{ urlFor(pathName, { "member" : mid }) }}">{{ member.fullName }}</a> {% if member.committeePosition %}({{ member.committeePosition }}){% endif %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>



   </div>


{# Standard PA footer #}
{{ footer() }}
